html,
body {
  width: 100%;
  height: 100%;
  #root {
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    height: 100%;
    width: 100%;
  }
}
.app {
  height: 100%;
  width: 100%;
  .title-wrapper {
    background-color: chocolate;
  }

  .grid-wrapper {
    height: 100%;
    width: 100%;
    background-color: antiquewhite;
    display: grid;
    grid-template-columns: repeat(25, 1fr);
    .cell {
      border: solid 1px black;
      &.alive {
        background-color: black;
      }
    }
    //.row {
    //  //display: flex;
    //  //flex-direction: column;
    //  //justify-content: space-evenly;
    //  border: solid 1px black;
    //
    //  .col {
    //    border: solid 1px black;
    //    &.alive {
    //      background-color: black;
    //    }
    //  }
    //}
    //display: flex;
    //flex-direction: column;
    ////justify-content: center;
    //justify-content: space-evenly;
    //align-items: center;
    //.row {
    //  display: grid;
    //  grid-template-columns: repeat(10, 1fr);
    //display: flex;
    //justify-content: space-evenly;
    //height: 1rem;
    //border: solid 1px black;

    //.col {
    //  border: solid 1px black;
    //  grid-template-columns: repeat(10, 1fr);
    //}
  }
}
